/*   The Main  */

:root {
    --main-color: #171717;
    --secondary-color: #ffffff;
    --tetiary-color: rgb(37 80 104);
    --gray-color: #16202b;
    --secondgray-color: #0d6ad5;
}
  
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  .links a {
    width: 150px;
    height: 50px;
    border: 1px solid #ffffff;
    padding: 5px 15px;
    margin-top: 10px;
    text-decoration: none;
    color: var(--secondary-color);
    margin-right: 10px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .links a:hover {
    background-color: var(--tetiary-color);
    color: var(--main-color);
  }
  
  .cv {
    background-color: var(--tetiary-color);
  }
  
  body {
    background: var(--main-color);
    color: var(--secondary-color);
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    padding: 1px 50px;
}


  
  /* header sections */
  header {
    height: 65px;
  }
  
  .nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
  }
  a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
    color: #fbfbfb;
}
  
  .nav > .logo {
    font-size: 28px;
    font-weight: 700;
  }
  
  .nav > .el > ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 20px;
  }
  
  main {
    margin-bottom: 200px;
  }
  
  /* hero section */
  .hero {
    height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .intro {
    width: 45%;
    height: 100%;
    display: inherit;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .intro h1 {
    font-size: 50px;
  }
  
  .intro p {
    color: var(--secondgray-color);
    margin-bottom: 20px;
  }
  
  .image {
    width: 45%;
    height: 100%;
    border-radius: 50%;
    background-color: #202020;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #1e1d1d;
  }
  
  .image > img {
    width: 95%;
    height: 95%;
    border-radius: 50%;
  }
  
  /* About Section */
  .about,
  .services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
  
  .about .title,
  .services .title,
  .forms .title {
    font-size: 35px;
    font-weight: 800;
    padding-bottom: 20px;
  }
  
  .about .para {
   
    width: 99%;
    text-align: center;
    padding-bottom: 107px;
} 
  .about .socails,
  .services .wcards,
  .services .skillcard {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  .about .socails .card {
    display: inherit;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 20%;
    height: 150px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s;
  }
  
  .about .socails .card:hover {
    transform: translateY(-5px);
  }
  
  /* .about .circ {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--gray-color);
    display: flex;
    justify-content: center;
    align-items: center;
  } */
/*   
  .about .circ > div {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--tetiary-color);
  }
   */
  .wcards {
    justify-content: center !important;
    gap: 50px;
    padding-bottom: 50px;
    padding-top: 50px;
  }
  
  .wcards .card {
    width: 35%;
    background-color: var(--gray-color);
    font-size: 30px;
    padding: 40px;
    padding-right: 150px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s, border-color 0.3s;
  }
  
  .wcards .card > .icon {
    color: var(--tetiary-color);
    font-size: 50px;
  }
  
  .wcards .card:nth-child(1) {
    border-bottom: 3px solid var(--tetiary-color);
  }
  
  .wcards .card:hover {
    border-bottom: 3px solid var(--tetiary-color);
    transform: translateY(-5px);
  }
  
 
  .forms {
    width: 105%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 64px;
  }
  
  form {
    width: 50%;
    align-self: center;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
  }
  
  form > input {
    border: none;
    background: transparent;
    width: 48%;
    height: 40px;
    border-bottom: 1px solid #c4c4c4;
    outline: none;
    font-size: 16px;
    transition: border-color 0.3s;
  }
  
  form > input:focus {
    border-bottom: 1px solid var(--tetiary-color);
  }
  
  form > textarea {
    border: none;
    background: transparent;
    border: 1px solid #c4c4c4;
    outline: none;
    font-size: 16px;
    transition: border-color 0.3s;
  }
  
  form > textarea:focus {
    border: 1px solid var(--tetiary-color);
  }
  
  form > a {
    width: 150px;
    height: 50px;
    border: 1px solid #ffffff;
    padding: 5px 15px;
    margin-top: 10px;
    text-decoration: none;
    color: var(--secondary-color);
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    transition: background-color 0.3s, color 0.3s;
  }
  
  form > a:hover {
    background-color: var(--tetiary-color);
    color: var(--main-color);
  }
  

  /* footer */
  footer {
    display: flex;
    font-size: 14px;
    justify-content: center;
    align-items: center;
    color: var(--secondgray-color);
  }

  /* skiils , projects crads  */
 .skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  
   .skill-cards {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    padding: 20px;
  }
  
  .card {
    background-color: var(--gray-color);
    width: 30%;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s;
  }
  
  .card:hover {
    transform: translateY(-5px);
  }
  
  .icon {
    font-size: 50px;
    color: var(--tetiary-color);
  }
  
  .title {
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 20px;
  }


  /*  Expireince  */
  .experience {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  
  .experience-cards {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .experience-card {
    background-color: var(--tetiary-color);
    padding: 53px;
    border-left: 5px solid var(--gray-color);
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s;
  }
  
  .experience-card:hover {
    transform: translateY(-5px);
  }
  
  .date {
    font-style: italic;
    color: var(--secondgray-color);
  }
  
  .title {
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 20px;
  }



  /*  Skills  */
  .skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  
  .skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(245px, 1fr));
    gap: 29px;
    width: 100%;
    padding: 42px;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: stretch;
}




  
  
  .skill-card {
    background-color: var(--tetiary-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .skill-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
  }
  
  .skill-level {
    background-color: var(--gray-color);
    border-radius: 5px;
    height: 10px;
    overflow: hidden;
    margin-top: 10px;
  }
  
  .skill-percentage {
    height: 100%;
    background-color: var(--secondgray-color);
    transition: width 0.4s ease;
  }
  
  .title {
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 20px;
  }
  
  p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}
.map-section {
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-top: 50px;
    padding: 20px;
  }
  h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

.projects {
  padding: 50px 0;
  background-color: #171717;
  text-align: center;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 40px;
  color: #fbfbfb;
}

.project-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  background-color: rgb(37 80 104 / 87%);
    border-radius: 10px;
    box-shadow: 0 4px 8px #333;
    width: 300px;
    padding: 20px;
    margin: 15px;
    text-align: left;
    transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
}

.icon {
  font-size: 3rem;
  margin-bottom: 15px;
  color: #007bff;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #fbfbfb;
}

p {
  font-size: 1rem;
  margin-bottom: 20px;
  color: #fbfbfb;
}

.project-link {
  display: inline-block;
  padding: 10px 15px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.project-link:hover {
  background-color: #0056b3;
}